.login-form{
    display:flex;
    flex-direction: column;
    width:100%;
}

input[type='text'],input[type='password']{
    padding:16px 24px;
    outline:none;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    width:325px;
    margin-left: 15px;
<<<<<<< HEAD
<<<<<<< HEAD
    font-size:18px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.profile-user-details input[type='text'],input[type="email"], .profile-user-details input[type="password"]{
=======
.profile-user-details input[type='text']{
>>>>>>> parent of 261f318 (Issue #35 - Password Change Tab on Profile)
=======
.profile-user-details input[type='text'],input[type='email'],input[type="password"]{
>>>>>>> parent of 07a7115 (Issue #35 - Change Password tab on Profile Page)
    border: unset;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-radius: unset;
    width:250px;
    margin-left: 0;
=======
    font-size:16px;
>>>>>>> parent of f565482 (Issue #31 and #34 - Profile page and User Info Tab)
=======
    font-size:16px;
>>>>>>> parent of be08821 (Merge pull request #37 from jonathaneugene/developments)
}

button[type='submit']{
    padding:16px 24px;
    outline:none;
    border:none;
    border-radius: 5px;
    margin:10px 0;
    cursor:pointer;
}

.login-button{
    background-color: #4a39ea;
    color:white;
    font-family: 'Staatliches', sans-serif;
    font-size: 28px;
    width:375px;
}

.links{
    color:rgb(180,180,180);
    text-decoration: underline;
    cursor: pointer;
}

.password-hide-show{
    width:35px;
    padding:6px;
    transform: translateY(15px);
}