.menu-main-div{
    display: flex;
    position: fixed;
    align-items: center;
    width:100%;
    top:0;
    left:0;
    padding:12px 0;
    background-color: white;
    z-index: 1;
}

.logo{
    flex:1;
    padding-left: 36px;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding-right: 36px;
    align-items: center;
}

.menu-links{
    text-transform: uppercase;
    padding: 6px 24px;
    background-color: #4a39ea;
    color:white;
    margin: 0 6px;
    border-radius: 32px;
    font-weight: 600;
}

<<<<<<< HEAD
.menu-links.register{
<<<<<<< HEAD
    background-color: #242324;
=======
    background-color: #242424;
>>>>>>> parent of 231eca2 (Issue #25 - Landing Page)
}

=======
>>>>>>> parent of f565482 (Issue #31 and #34 - Profile page and User Info Tab)
.mobile{
    display: none;
}

