h1,h2,h3,h4,h5,h6{
    margin-block-end: unset;
    margin-block-start: unset;
    font-weight: normal;
}

.super-heading{
    font-family: 'Staatliches', cursive;
    font-size: 124px;
    font-weight: normal;
}

.super-heading.time{
    font-size: 200px;
}

.heading{
    font-family: 'Staatliches', cursive;
    font-size: 36px;
    font-weight: normal;
}

.labels{
    font-family: 'Staatliches', cursive;
    font-size:36px;
    padding:12px 0;
}

.sub-heading{
    font-family: 'Staatliches', cursive;
    font-size:42px;
}

.body{
    font-size: 18px;
    font-weight: 300;
}

.body.landing{
    text-align: end;
    margin-top: 18px;
    color: rgb(128, 128, 128);
}
