.MuiTabs-flexContainerVertical{
    align-items: flex-start;
    width:250px;
    height:350px;
    justify-content: center;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 6px;
}

.css-1q2h7u5.Mui-selected{
    font-weight: 600;
    color:black !important;
}

.css-w0pj6f{
    display: none !important;
}

.css-7ozjwe{
    display: none !important;
}

.css-1q2h7u5{
    font-family: 'Poppins', sans-serif !important;
    width: 250px;
    font-size: 18px !important;
    align-items: start !important;
}

.profile-tab-panels{
    width:800px;
    display: grid;
    place-items: center;
    place-content: center;
}

.profile-user-details{
    display: flex;
    flex-direction: column;
}
