.MuiTabs-flexContainerVertical{
    align-items: flex-start;
    width:250px;
    height:350px;
    justify-content: center;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 6px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    font-weight: 600;
    color:black !important;
}

.css-8je8zh-MuiTouchRipple-root{
    display: none !important;
}

.css-10d9dml-MuiTabs-indicator{
    display: none !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    font-family: 'Poppins', sans-serif !important;
    width: 250px;
    font-size: 18px !important;
    align-items: start !important;
}

.profile-tab-panels{
    width:800px;
    display: grid;
    place-items: center;
    place-content: center;
}

.profile-user-details{
    display: flex;
    flex-direction: column;
}
